# Ignore node_modules directory (as dependencies are installed inside the container)
node_modules

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore git-related files
.git
.gitignore

# Ignore log files
*.log

# Ignore environment files


# Ignore any temporary or build files
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore coverage files from testing
coverage/

# Ignore any IDE/editor configurations
.vscode/
.idea/
*.swp
